@import '../../styles/variables';

.heroWrap {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 737px;
}
.heroCore {
    position: relative;

    width: 100%;
    height: 90%;
    padding: 5.5% 7.5%;
    border-radius: $box-radius;

    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: none;
    background-position: center 12.5%;
    background-size: cover;

    animation: slideInRight 0.5s forwards;
}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.movieCard {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40%;
    padding: 1.5rem 2rem;
    border-radius: 0 0 $box-radius $box-radius;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    background-color: rgba(0, 0, 0, 0.6);

    .movieName {
        margin-bottom: 12px;

        color: $text-orangerYellow;

        font-family: 'Kanit', sans-serif;
        font-size: 5.6em;
        text-transform: uppercase;
        line-height: 1;
    }
    .introdue {
        width: 100%;

        font-size: 1.8em;
        text-align: justify;
    }
    .viewmoreBtn {
        position: absolute;
        bottom: 1.5rem;
        right: 2rem;

        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;

        background-color: $text-orangerYellowBold;

        font-size: 2.4em;

        &:hover {
            opacity: 0.7;
        }
    }
}
.moveSlide {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 100px);
}
.dotRow {
    display: flex;
    align-items: end;
    gap: 8px;

    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    // left: 50%;
    // transform: translateX(-50%);

    opacity: 0.7;

    span {
        display: block;

        width: 60px;
        height: 5px;

        background-color: rgba(255, 255, 255, 0.5);

        cursor: pointer;

        &:hover {
            height: 10px;
        }
    }

    .currentIndex {
        width: 90px;

        background-color: $text-orangerYellowBold;
    }
}
