// Color
$text-orangerYellowBold: #ee550e;
$text-orangerYellow: #fb9039;
$bg-lightGray: #393f45;
$bg-darkGray: #26282b;

// Header
$header-height: 62px;

// Hero
$box-radius: 1.5rem;

// Card
$movieCardGap: 30px;
